<div class="container main-container">
    <h1>Cadastro</h1>

    <form novalidate>

        <h4>Demo cadastro</h4>
        <hr>

        <div class="form-group">
            <label class="col-md-2 control-label">Nome completo</label>
            <div class="col-md-10">
                <input class="form-control" id="email" type="text" placeholder="Nome (requerido)"  />
  
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">CPF</label>
            <div class="col-md-10">
                <input class="form-control" id="email" type="text" placeholder="CPF (requerido)"  />
  
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">E-mail</label>
            <div class="col-md-10">
                <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)"  />
  
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Senha</label>
            <div class="col-md-10">
                <input class="form-control" id="password" type="password" placeholder="Senha (requerido)" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Confirme a Senha</label>
            <div class="col-md-10">
                <input class="form-control" id="confirmPassword" type="password" placeholder="Confirme a Senha (requerido)" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span><button class="btn btn-success" id="Registrar" type="submit">Registrar</button></span>
            </div>
        </div>
    </form>
</div>