<div class="container main-container">
    <h1>Cadastro</h1>

    <!-- entre [ ] indica que é um evento do angular -->
    <!-- FormGroup deve ter o mesmo nome do FormGroup do cadastro.ts -->
    <form novalidate (ngSubmit)="adicionarUsuario()" [formGroup]="cadastroForm123">

        <h4>Demo cadastro</h4>
        <hr>

        <div class="form-group">
            <label class="col-md-2 control-label">Nome completo</label>
            <div class="col-md-10">
                <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome12"  />
                
                <span class="text-danger" *ngIf="cadastroForm123.get('nome12').errors 
                && (cadastroForm123.get('nome12').dirty || cadastroForm123.get('nome12').touched)" 
                [ngClass]="{'is-invalid':cadastroForm123.get('nome12').errors 
                && (cadastroForm123.get('nome12').dirty || cadastroForm123.get('nome12').touched)}">
                    <p>Preencha o campo nome</p>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">CPF</label>
            <div class="col-md-10">
                <input class="form-control" id="email" type="text" placeholder="CPF (requerido)"  formControlName="cpf12"/>
  
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">E-mail</label>
            <div class="col-md-10">
                <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)" formControlName="email12" />

                <!-- aqui o ? significa que se for nulo, ignora -->
                <!-- [ngClass] aqui é para aplicar a classe CSS, neste caso o is-invalid -->
                <span class="text-danger" *ngIf="cadastroForm123.get('email12')?.errors?.required 
                && (cadastroForm123.get('email12').dirty || cadastroForm123.get('email12').touched)" 
                [ngClass]="{'is-invalid':cadastroForm123.get('email12')?.errors?.required 
                && (cadastroForm123.get('email12').dirty || cadastroForm123.get('email12').touched)}">
                    <p>Preencha o campo email</p>
                </span>

                <!-- aqui o ? significa que se for nulo, ignora -->
                <!-- [ngClass] aqui é para aplicar a classe CSS, neste caso o is-invalid -->
                <span class="text-danger" *ngIf="cadastroForm123.get('email12')?.errors?.email 
                && (cadastroForm123.get('email12').dirty || cadastroForm123.get('email12').touched)" 
                [ngClass]="{'is-invalid':cadastroForm123.get('email12')?.errors?.email 
                && (cadastroForm123.get('email12').dirty || cadastroForm123.get('email12').touched)}">
                    <p>E-mail em formato invalido</p>
                </span>

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Senha</label>
            <div class="col-md-10">
                <input class="form-control" id="password" type="password" placeholder="Senha (requerido)" formControlName="senha12"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Confirme a Senha</label>
            <div class="col-md-10">
                <input class="form-control" id="confirmPassword" type="password" placeholder="Confirme a Senha (requerido)" formControlName="senhaConfirmacao12"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span><button class="btn btn-success" id="Registrar" 
                    [disabled]="!cadastroForm123.valid" type="submit">Registrar</button></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <div class="col-md-6 col-md-offset-2">
                    <p>Formulario valido: {{ cadastroForm123.valid }}</p>
                    <p>Formulario Tocado: {{ cadastroForm123.touched }}</p>
                    <p>Formulario Sujo: {{ cadastroForm123.dirty }}</p><br>
                    <p>Formulario: {{ formResult321 }}</p><br>
                </div>
            </div>
        </div>

    </form>
</div>