

mat-form-field{
    width: 100%;
}

.tituloBox{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.testebutton{
    background-color: #ed008e;
    /* background-color: white; */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.200) 0px 1px 10px;
    width: 100%;
    font-weight: bold;
}

.container{
    background-image: url("../../assets/banner.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: brown;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
}

.box{
    grid-column: 3 / 3;
    align-self: center;
    padding: 50px;
    
}

.putYourTripInformation{
    padding: 30px;
    border-bottom: 3px solid #ed008e;
    border-top: 1px solid rgb(220, 220, 220);
    border-left: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    border-radius: 3px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.200) 0px 8px 24px;
    width: 300px;
    
}